{
  "extends": "airbnb",
  "installedESLint": true,
  "parser": "babel-eslint",
  "rules": {
    "import/no-extraneous-dependencies": ["off", {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  },
  "globals": {
    "describe": true,
    "it": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "experimentalDecorators": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}