html
  font-size: 62.5%

.title
  text-align: center

.dateTable
  width: 100%
  overflow: hidden
  > section
    display: flex
    width: 100%
    > div
      flex: 1
      height: 2.5rem
      line-height: 2.5rem
      text-align: center
      color: #1c1c1c
      font-size: 1.5rem
      &.tag
        color: red
      > a
        text-decoration: none
        color: inherit
      &.otherMonth
        color: #ccc