.root {
  overflow: hidden;
}

.title > span::before {
  content: attr(data-year) '-' attr(data-month)
}

.horizontal {
  display: flex;
  align-items: center;
  width: 100%;
}

.vertical {
  flex: 1;
  text-align: center;
}
.vertical > * {
  pointer-events: none;
}